body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(173, 125, 125); */
    background-image: url('jonathan-borba-3eC5n6gHwe8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container{
    width: 40%;
    height: 50%;
    border: 2px solid greenyellow;
    background-color: rgb(22, 11, 177);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    /* font-style: italic; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}
.root{
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-left: 8px;
}

.btn{
    margin: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: rgb(6, 229, 245);
}